.clientes {
    text-align: center;
    padding: 50px;
}

.depoimento {
    background-color: #db8483;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.depoimento img {
    width: 100px;
    border-radius: 30%;
    margin-bottom: 40px;
}